.blog {
  background: rgba(255, 255, 255, 1.0);
  &__container {
    position: relative;
    margin: 0 auto;
    padding: 6rem .5rem;
    width: 80%;
  }
  &__container-h2 {
    text-align: center;
    color: rgba(30, 39, 46, 1.0);
  }
  &__container-sub {
    text-align: center;
    width: 60%;
    margin: 0rem auto;
    color: rgba(128, 142, 155, 1.0);
    @media only screen and (max-width: 998px) {
      width: 100%
    }
  }
  &__container-content {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: space-evenly;
    @media only screen and (max-width: 998px) {
      justify-content: space-between;
    }
  }
  &__card {
    background: #fff;
    flex-basis: 30%;
    text-align: left;
    color: #1e272e;
    box-shadow: $box-shadow;
    border-radius: .2rem;
    margin: 1rem 0;
    &:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 998px) {
      flex-basis: 48%;
      margin: 1.5rem 0;
    }
    @media only screen and (max-width: 800px) {
      flex-basis: 100%;
    }
  }
  &__card-figure {
    overflow: hidden;
    height: 30vh;
    width: 100%;
    @media only screen and (max-width: 1600px) {
      height: 25vh;
    }
    @media only screen and (max-width: 1400px) {
      height: 20vh;
    }
    @media only screen and (max-width: 1150px) {
      height: 15vh;
    }
    @media only screen and (max-width: 998px) {
      height: 23vh;
    }
    @media only screen and (max-width: 800px) {
      height: 30vh;
    }
  }
  &__card-text {
    padding: 1.5rem;
    &>* {
      margin: .3rem 0;
      @media only screen and (max-width: 998px) {
        margin: .4rem 0;
      }
    }
  }
  &__card-name {
    color: rgba(255, 143, 0, 1.0);
  }
  &__card-date {
    color: rgba(255, 143, 0, 1.0);
  }
  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
  }
  &__card-btn,
  &__card-btn:link,
  &__card-btn:visited,
  &__card-btn:active {
    padding: .4rem 1.3rem;
    color: rgba(255, 143, 0, 1.0);
    border-radius: .2rem;
    background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .9));
    transition: $primary-transition;
    box-shadow: $box-shadow;
    border: none;
    display: inline-block;
    &:hover {
      cursor: pointer;
      transform: translateY(-.2rem);
    }
    @media only screen and (max-width: 998px) {
      padding: .8rem 2rem;
    }
  }
  &__newsletter {
    padding: 1rem 0;
    background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .9)), url(.././imgs/desktop3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    color: $header-color;
  }
  &__newsletter-content {
    color: $color-primary;
  }
  &__newsletter-h2 {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    @media only screen and (max-width: 800px) {
      width: 100%
    }
    &::before {
      @include beforAfter(rgba(128, 142, 155, 1.0));
      bottom: 10%;
      left: 25%;
      width: 50%;
      height: 3%;
    }
  }
  &__newsletter-sub {
    text-align: center;
    width: 50%;
    margin: 0rem auto;
    color: rgba(255, 255, 255, 1.0);
    @media only screen and (max-width: 998px) {
      width: 75%;
    }
  }
  &__newsletter-form {
    margin: 1rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 400px) {
      width: 70%;
    }
  }
  &__newsletter-formgroup {
    width: 100%;
    margin: 1.5rem auto;
    border-radius: 54px;
  }
  &__newsletter-forminput {
    height: 3.5rem;
    padding: .8rem;
    width: 100%;
    font-family: inherit;
    color: $color-black;
    border-radius: 54px;
    background-color: rgba(255, 143, 0, 1);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-black;
    }
    &:focus:invalid {
      border-bottom: 3px solid #eb4d4b;
    }
    &::-webkit-input-placeholder {
      color: $color-black;
    }
  }
  &__newletter-btn,
  &__newletter-btn:link,
  &__newletter-btn:visited,
  &__newletter-btn:active {
    align-self: flex-end;
    @include btnStyling;
    color: rgba(255, 143, 0, 1.0);
    padding: .9rem .1rem;
    background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .9));
    border: none;
    width: 20%;
    transform: translateY(-5rem);
    &:hover {
      cursor: pointer;
      transform: translateY(-5.3rem)
    }
  }
}