.contact {
  background: $color-white-2;
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    border-radius: inherit;
    display: inline-block;
    background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .9)), url(.././imgs/desktop3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32%;
  }
  &__container {
    position: relative;
    margin: 0 auto;
    padding: 6rem .5rem;
    padding-bottom: 12rem;
    width: 75%;
  }
  &__container-h2 {
    color: $color-black-h2;
  }
  &__container-content {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  &__address {
    width: 36%;
    padding: 1rem;
    color: $color-black-h2;
    height: 100%;
    z-index: 7000;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
  &__address-item {
    margin: 1rem 0;
  }
  &__address-icon {
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    transition: $primary-transition;
  }
  &__form {
    width: 64%;
    padding: .5rem;
    z-index: 7000;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
  &__form-group {
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    width: 100%;
    @media only screen and (max-width: 1024px) {
      width: 80%;
    }
    @media only screen and (max-width: 998px) {
      width: 100%
    }
    @media only screen and (max-width: 600px) {
      width: 95%;
    }
  }
  &__form-group-description {
    position: relative;
    height: 12rem;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
    }
  }
  &__form-input {
    height: 3.5rem;
    padding: .8rem;
    width: 100%;
    font-family: inherit;
    color: $color-black;
    border-radius: 2px;
    background-color: $color-primary;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-black;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-error;
    }
    &::-webkit-input-placeholder {
      color: $color-black;
    }
    @media only screen and (max-width: 800px) {
      height: 5rem;
    }
  }
  &__form-textarea {
    position: absolute;
    font-family: inherit;
    color: $color-black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    border: none;
    padding: .8rem;
    width: 100%;
    z-index: 5000;
    resize: none;
    display: block;
    background: transparent;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-black;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-error;
    }
    &::-webkit-input-placeholder {
      color: $color-black;
    }
  }
  &__form-btn,
  &__form-btn:link,
  &__form-btn:visited,
  &__form-btn:active {
    @include btnStyling;
    color: $color-primary;
    padding: .7rem .1rem;
    background: $color-btn-black;
    border: none;
    margin-right: 1rem;
    width: 20%;
    &:hover {
      cursor: pointer;
      transform: translateY(-.2rem);
    }
  }
}