<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png">-->
  <title>Document</title>
</head>

<body>
  <!--side nav btn beginning-->
  <div class="container__sidenav-btndiv" id="container__sidenav-btndiv">
    <div class="container__sidenav-btn">
      &darr;
    </div>
  </div>
  <!--side nav btn ending-->
  <!--sidenav beginning-->
  <input type="checkbox" class="container__sidenav-check" id="container__sidenav-check">
  <div class="container__sidenav" id="container__sidenav">
    <ul class="container__sidenav-list">
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">home</a>
      </li>
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">about</a>
      </li>
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">services</a>
      </li>
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">portfolio</a>
      </li>
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">clients</a>
      </li>
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">blog</a>
      </li>
      <li class="container__sidenav-listitem">
        <a href="#" class="container__sidenav-link">contact</a>
      </li>
    </ul>
  </div>
  <!--side nav ending-->
  <div class="container" id="container">
    <!--header section beginning-->
    <div class="header">
      <div class="header__container">
        <p class="header__title">
          David
        </p>
        <ul class="header__list">
          <li class="header__list-item">
            <a href="#" class="header__list-link">home</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">about</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">services</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">portfolio</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">clients</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">blog</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">contact</a>
          </li>
        </ul>

        <div class="header__intro" id="header__intro">
          <figure class="header__intro-photo">
            <img src="../imgs/intro__img.png" alt="" class="header__intro-img">
          </figure>
          <div class="header__intro-text">
            <h1 class="header__intro-name" id="header__intro-name">
              Hello, I'm Dave Micah
            </h1>
            <p class="header__intro-about">I'm a fullstack javascript developer, and software developer</p>
            <div class="header__intro-socials">
              <div>
                <svg class="header__intro-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-facebook"></use>
                </svg>
              </div>
              <div>
                <svg class="header__intro-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-github"></use>
                </svg>
              </div>
              <div>
                <svg class="header__intro-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-instagram2"></use>
                </svg>
              </div>
              <div>
                <svg class="header__intro-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-linkedin2"></use>
                </svg>
              </div>
              <div>
                <svg class="header__intro-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-behance"></use>
                </svg>
              </div>
              <div>
                <svg class="header__intro-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-twitter2"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="header__intro-btnarea">
            <a href="#" class="header__intro-btn">contact me</a>
            <a href="#" class="header__intro-mouse">&darr;</a>
          </div>
        </div>
      </div>
    </div>
    <!--header section ending-->

    <!--about section beginning-->
    <div class="about">
      <div class="about__container">
        <h2 class="about__container-h2">About Me</h2>
        <h5 class="about__container-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ex enim iste minima! Ut nostrum culpa facere modi minima
          corporis, cum dolore laborum fugit.</h5>
        <div class="about__container-content">
          <div class="about__bio">
            <p class="about__paragraph">
              Ipsam cupiditate dolorem perspiciatis doloribus neque sit molestiae similique quas velit. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Est, laboriosam eum! Aperiam ullam labore illo distinctio, doloremque nesciunt, harum beatae
              natus ipsam accusantium
            </p>
            <div class="about__email">
              <p class="about__email-content">
                <span>
                  <svg class="about__email-icon">
                    <use xlink:href="../imgs/sprite.svg#icon-envelop"></use>
                  </svg>
                </span>Email: nerdyemmanuel@gmail.com</p>
            </div>
            <a href="#" class="about__btn">contact me</a>
          </div>
          <div class="about__skills">
            <div class="about__skill" id="about__skill-1">
              <p class="about__skill-letters">html5, css3, Javascript</p>
              <p class="about__skill-numbers">95%</p>
            </div>
            <div class="about__skill" id="about__skill-2">
              <p class="about__skill-letters">design</p>
              <p class="about__skill-numbers">60%</p>
            </div>
            <div class="about__skill" id="about__skill-3">
              <p class="about__skill-letters">photography</p>
              <p class="about__skill-numbers">50%</p>
            </div>
            <div class="about__skill" id="about__skill-4">
              <p class="about__skill-letters">php and mysql</p>
              <p class="about__skill-numbers">90%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--about section ending-->

    <!--experience section beginning-->
    <div class="experience">
      <div class="experience__container">
        <div class="experience__container-content">
          <div class="experience__container-education">
            <h3 class="experience__container-h3">
              <span class="experience__container-h3letter">Education</span>
              <span>
                <svg class="experience__container-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-graduation-cap"></use>
                </svg>
              </span>
            </h3>
            <div class="experience__container-educations">
              <div class="experience__item">
                <h4 class="experience__itemheader">University of Awesome</h4>
                <p class="experience__itempara">Bachelor of Science</p>
              </div>
              <div class="experience__item">
                <h4 class="experience__itemheader">University of Awesome</h4>
                <p class="experience__itempara">Bachelor of Science</p>
              </div>
              <div class="experience__item">
                <h4 class="experience__itemheader">University of Awesome</h4>
                <p class="experience__itempara">Bachelor of Science</p>
              </div>
            </div>
          </div>
          <div class="experience__container-experience">
            <h3 class="experience__container-h3">
              <span class="experience__container-h3letter">Experience</span>
              <span>
                <svg class="experience__container-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-suitcase"></use>
                </svg>
              </span>
            </h3>
            <div class="experience__container-experiences">
              <div class="experience__item">
                <h4 class="experience__itemheader">Facebook</h4>
                <p class="experience__itempara">Lead Javascript Developer</p>
              </div>
              <div class="experience__item">
                <h4 class="experience__itemheader">Twitter</h4>
                <p class="experience__itempara">Database Admin</p>
              </div>
              <div class="experience__item">
                <h4 class="experience__itemheader">SpaceX</h4>
                <p class="experience__itempara">Data Scientist</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--experience sectionending-->

    <!--services section beginning-->
    <div class="services">
      <div class="services__container">
        <h2 class="services__container-h2">Services</h2>
        <div class="services__container-content">
          <div class="services__card">
            <span>
              <svg class="services__card-icon">
                <use xlink:href="../imgs/sprite.svg#icon-sphere"></use>
              </svg>
            </span>
            <h4 class="services__card-h4">web development</h4>
            <p class="services__card-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad quibusdam nemo neque ex incidunt debitis unde itaque
              impedit acilis perspiciatis.
            </p>
          </div>
          <div class="services__card">
            <span>
              <svg class="services__card-icon">
                <use xlink:href="../imgs/sprite.svg#icon-brush"></use>
              </svg>
            </span>
            <h4 class="services__card-h4">design</h4>
            <p class="services__card-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad quibusdam nemo neque ex incidunt debitis unde itaque
              impedit acilis perspiciatis.
            </p>
          </div>
          <div class="services__card">
            <span>
              <svg class="services__card-icon">
                <use xlink:href="../imgs/sprite.svg#icon-database1"></use>
              </svg>
            </span>
            <h4 class="services__card-h4">database administration</h4>
            <p class="services__card-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad quibusdam nemo neque ex incidunt debitis unde itaque
              impedit acilis perspiciatis.
            </p>
          </div>
          <div class="services__card">
            <span>
              <svg class="services__card-icon">
                <use xlink:href="../imgs/sprite.svg#icon-camera"></use>
              </svg>
            </span>
            <h4 class="services__card-h4">photography</h4>
            <p class="services__card-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad quibusdam nemo neque ex incidunt debitis unde itaque
              impedit acilis perspiciatis.
            </p>
          </div>
          <div class="services__card">
            <span>
              <svg class="services__card-icon">
                <use xlink:href="../imgs/sprite.svg#icon-video-camera"></use>
              </svg>
            </span>
            <h4 class="services__card-h4">video editing</h4>
            <p class="services__card-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad quibusdam nemo neque ex incidunt debitis unde itaque
              impedit acilis perspiciatis.
            </p>
          </div>
          <div class="services__card">
            <span>
              <svg class="services__card-icon">
                <use xlink:href="../imgs/sprite.svg#icon-image"></use>
              </svg>
            </span>
            <h4 class="services__card-h4">photoshop</h4>
            <p class="services__card-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ad quibusdam nemo neque ex incidunt debitis unde itaque
              impedit acilis perspiciatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--services section ending-->
  </div>
</body>

</html>