*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 103%;
}

body {
  position: relative;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  background: #E8EAF6;
  overflow-x: hidden; //padding: 1rem;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}