body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

h2 {
  font-size: 270%;
  font-weight: 900;
}

h3 {
  font-size: 200%;
  font-weight: 900;
}

h4 {
  font-size: 150%;
  font-weight: 700;
}

h5 {
  font-size: 115%;
  font-weight: 400;
}

.container {
  &__sidenav-link,
  &__sidenav-link:link,
  &__sidenav-link:visited,
  &__sidenav-link:active {
    font-weight: 700;
    font-size: 186%;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.header {
  &__title {
    font-size: 200%;
    font-weight: 700;
  }
  &__intro-name {
    letter-spacing: .1rem;
    font-size: 400%;
    font-weight: 900;
  }
  &__intro-about {
    letter-spacing: 2px;
    font-size: 140%;
  }
  &__Intro-mouse {
    font-size: 80%;
  }
}

.about {
  &__bio {
    font-size: 118%;
    letter-spacing: 1.5px;
  }
  &__btn,
  &__btn:link,
  &__btn:visited,
  &__btn:active {
    font-size: 70%;
  }
  &__skill {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%
  }
}

.experience {
  &__itempara {
    font-size: 110%;
  }
}

.services {
  &__card-h4 {
    font-size: 126%;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &__card-para {
    font-weight: 400;
    font-size: 110%;
  }
}

.clients {
  &__card-para {
    letter-spacing: 2px;
  }
}

.blog {
  &__card-details {
    font-size: 80%;
    @media only screen and (max-width: 1024px) {
      font-size: 120%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 100%;
    }
  }
  &__card-preview {
    font-size: 100%;
    @media only screen and (max-width: 1024px) {
      font-size: 130%
    }
    @media only screen and (max-width: 800px) {
      font-size: 100%;
    }
  }
  &__card-btn,
  &__card-btn:link,
  &__card-btn:visited,
  &__card-btn:active {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 85%;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}