body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

h2 {
  font-size: 270%;
  font-weight: 900;
  text-align: center;
  @media only screen and (max-width: 998px) {
    font-size: 400%;
  }
  @media only screen and (max-width: 800px) {
    font-size: 461%
  }
}

h3 {
  font-size: 200%;
  font-weight: 900;
}

h4 {
  font-size: 150%;
  font-weight: 700;
  @media only screen and (max-width: 998px) {
    font-size: 218%;
  }
  @media only screen and (max-width: 800px) {
    font-size: 275%
  }
}

h5 {
  font-size: 115%;
  font-weight: 400;
  @media only screen and (max-width: 998px) {
    font-size: 200%;
  }
}

.container {
  &__sidenav-link,
  &__sidenav-link:link,
  &__sidenav-link:visited,
  &__sidenav-link:active {
    font-weight: 700;
    font-size: 186%;
    text-transform: uppercase;
    text-decoration: none;
    @media only screen and (max-width: 900px) {
      font-size: 265%;
    }
  }
}

.header {
  &__title {
    font-size: 200%;
    font-weight: 700;
    @media only screen and (max-width: 998px) {
      font-size: 350%;
    }
  }
  &__intro {
    @media only screen and (max-width: 1400px) {
      font-size: 137%;
    }
    @media only screen and (max-width: 1291px) {
      font-size: 137%;
    }
    @media only screen and (max-width: 1108px) {
      font-size: 170%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 136%;
    }
    @media only screen and (max-width: 725px) {
      font-size: 120%;
    }
    @media only screen and (max-width: 555px) {
      font-size: 152%;
    }
    @media only screen and (max-width: 470px) {
      font-size: 117%;
    }
    @media only screen and (max-width: 417px) {
      font-size: 110%;
    }
    @media only screen and (max-width: 395px) {
      font-size: 90%;
    }
  }
  &__intro-name {
    letter-spacing: .1rem;
    font-size: 400%;
    font-weight: 900;
  }
  &__intro-about {
    letter-spacing: 2px;
    font-size: 140%;
  }
  &__Intro-mouse {
    font-size: 80%;
  }
}

.about {
  &__bio {
    font-size: 118%;
    letter-spacing: 1.5px;
  }
  &__paragraph {
    @media only screen and (max-width: 998px) {
      font-size: 120%;
      letter-spacing: 1px;
    }
  }
  &__btn,
  &__btn:link,
  &__btn:visited,
  &__btn:active {
    font-size: 70%;
  }
  &__skill {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
    @media only screen and (max-width: 998px) {
      font-size: 139%;
    }
  }
}

.experience {
  &__itempara {
    font-size: 110%;
    @media only screen and (max-width: 998px) {
      font-size: 200%;
    }
  }
}

.services {
  &__card-h4 {
    font-size: 126%;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media only screen and (max-width: 998px) {
      font-size: 200%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 220%
    }
  }
  &__card-para {
    font-weight: 400;
    font-size: 110%;
    @media only screen and (max-width: 998px) {
      font-size: 200%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 250%
    }
  }
}

.clients {
  &__card-para {
    letter-spacing: 2px;
    @media only screen and (max-width: 998px) {
      font-size: 170%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 230%
    }
  }
}

.blog {
  &__card-details {
    font-size: 80%;
    @media only screen and (max-width: 1024px) {
      font-size: 120%;
    }
    @media only screen and (max-width: 998px) {
      font-size: 160%;
    }
  }
  &__card-preview {
    font-size: 100%;
    @media only screen and (max-width: 1024px) {
      font-size: 130%
    }
    @media only screen and (max-width: 998px) {
      font-size: 210%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 250%
    }
  }
  &__card-btn,
  &__card-btn:link,
  &__card-btn:visited,
  &__card-btn:active {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 85%;
    letter-spacing: .1rem;
    text-transform: uppercase;
    @media only screen and (max-width: 998px) {
      font-size: 200%;
    }
  }
  &__newsletter-forminput {
    font-size: 1.2rem;
    letter-spacing: 2px;
    &::-webkit-input-placeholder {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

.portfolio {
  &__container-listitem {
    font-size: 69%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media only screen and (max-width: 998px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 415px) {
      font-size: 170%;
    }
  }
  &__card-category {
    text-align: center;
    font-weight: 400;
    font-size: 110%;
    letter-spacing: 1px;
    @media only screen and (max-width: 998px) {
      font-size: 180%;
    }
  }
  &__card-name {
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 2px;
    @media only screen and (max-width: 998px) {
      font-size: 200%;
    }
  }
}

.contact {
  &__container-h2 {
    text-align: center;
  }
  &__address {
    text-align: center;
    @media only screen and (max-width: 998px) {
      font-size: 140%;
    }
  }
  &__address-h4 {
    font-weight: 900;
    font-size: 200%;
    text-decoration: underline;
  }
  &__address-item {
    &>p {
      font-weight: 700;
      font-size: 110%;
    }
  }
  &__form-input {
    font-size: 1.2rem;
    letter-spacing: 2px;
    &::-webkit-input-placeholder {
      font-weight: 700;
      font-size: 1rem;
    }
  }
  &__form-textarea {
    font-size: 1.2rem;
    letter-spacing: 2px;
    &::-webkit-input-placeholder {
      font-weight: 700;
      font-size: 1rem;
    }
  }
  &__form-btn,
  &__form-btn:link,
  &__form-btn:visited,
  &__form-btn:active {
    font-weight: 700;
  }
}

.footer {
  &__container {
    text-align: center;
  }
  &__container-h4 {
    font-size: 180%;
    letter-spacing: 1px;
    @media only screen and (max-width: 998px) {
      font-size: 250%;
    }
  }
  &-licence {
    font-size: 120%;
    font-weight: 700;
    letter-spacing: 3px;
    @media only screen and (max-width: 998px) {
      font-size: 170%;
    }
    @media only screen and (max-width: 555px) {
      font-size: 120%;
    }
  }
}