//colors
$color-white: #fff;
$color-black: #000;
//others
$primary-transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
$sec-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);