.container {
  position: relative;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 1.0);
  &__sidenav-check {
    position: absolute;
    top: 0;
    z-index: 9000;
    display: none;
  }
  &__sidenav-check:checked~&__sidenav {
    transform: translateX(0%);
  }
  &__sidenav-btndiv {
    display: none;
    position: absolute;
    top: 0%;
    right: 8%;
    width: 7%;
    height: 4%;
    z-index: 8000;
    &::before {
      @include beforAfter ($header-color);
      width: 100%;
      height: 2%;
      top: 20%;
      left: 0;
    }
    &::after {
      @include beforAfter ($header-color);
      width: 90%;
      height: 2%;
      top: 35%;
      right: 0;
    }
    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }
  &__sidenav-btn {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 0;
    &::before {
      @include beforAfter ($header-color);
      width: 90%;
      height: 8%;
      top: 0%;
      left: 0;
    }
  }
  &__sidenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9000;
    width: 40%;
    height: 100%;
    background: rgba(#353b48, .9);
    display: none;
    transition: $primary-transition;
    transform: translateX(100%);
    @media only screen and (max-width: 1024px) {
      display: flex;
      justify-content: center;
      padding: 4rem;
    }
  }
  &__sidenav-list {
    list-style: none;
  }
  &__sidenav-listitem {
    margin: 3rem 0;
  }
  &__sidenav-link,
  &__sidenav-link:link,
  &__sidenav-link:visited,
  &__sidenav-link:active {
    color: $header-color;
    display: inline-block;
  }
}